@font-face {
  font-family: Poppins Bold;
  src: url(font/Poppins-Bold.otf);
}
@font-face {
  font-family: Poppins Medium;
  src: url(font/Poppins-Medium.otf);
}
@font-face {
  font-family: Futura;
  src: url(font/Futura\ Heavy\ font.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 93, 133) 0%,
    rgb(0, 181, 149) 90%
  );
}
header h1 {
  font-size: 35px;
  color: coral;
}
h1 {
  font-family: Poppins Bold;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 20px;
}
.animal-names h2 {
  font-family: Poppins Bold;
  display: flex;
  font-size: 30px;
  color: beige;
  justify-content: center;
}
.animal-details h2 {
  font-family: Poppins Medium;
  display: flex;
  font-size: 20px;
  color: beige;
  display: flex;
  justify-content: center;
}

.vote-form {
  margin-left: 20px;
}
#vote-input {
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px solid;
}
.vote-form h2 {
  font-family: Poppins Bold;
  font-size: 25px;
  margin-left: 29%;
  color: beige;
}
.vote-form button {
  padding: 4px 8px;
  border-radius: 20px;
  border: 2px solid;
  cursor: pointer;
  margin-left: 29;
  background-color: blue;
  margin-left: 10px;
}
.vote-form input {
  margin-left: 29%;
}
#vote-button {
  font-family: Futura;
}
#reset-button {
  font-family: Futura;
  font-weight: 100px;
  padding: 4px 8px;
  border-radius: 20px;
  border: 2px black;
  margin-left: 10px;
  margin-top: 10px;
  background-color: beige;
  transition: 0.3s;
  color: blueviolet;
  font-weight: 100;
  transition-property: box-shadow, transform;
  transition-property: box-shadow;
  transition: 0.3s;
  
}
 #reset-button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  
} 
.animal-names {
  margin-left: 30%;
  font-family: Futura;
  cursor: pointer;
  
}

#animal-names h2 {
  margin-left: -35%;
}

.add-animal-form h2 {
  font-size: 25px;
  margin-top: 20px;
  padding-left: 20px;
  font-family: Poppins Bold;
  margin-left: 383px;
  color: beige;
}
.animal-details h2 {
  font-family: Poppins Bold;
  font-size: 25px;
}
/* CSS for vertical arrangement of form elements */
.add-animal-form form label {
  display: block;
  margin-bottom: 10px;
  margin-left: 30%;
  font-family: Poppins Bold;
  margin-top: 10px;
}

.add-animal-form form input[type="text"],
.add-animal-form form input[type="number"] {
  width: 30%;
  padding: 5px 20px;
  margin-left: 30%;
  border-radius: 20px;
  border: 2px solid;
}

.add-animal-form form button[type="submit"] {
  display: flex;
  margin-left: 30%;
  margin-top: 20px;
  color: black;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px;
  font-family: Futura;
  background-color: blue;
  transition-property: box-shadow, transform;
  transition-property: box-shadow;
  transition: 0.3s;
}
.add-animal-form form button[type="submit"]:hover{

  -webkit-transform: scale(1.1);
transform: scale(1.1);
}
